.moveset-main-container{
    margin-top: 6vh;
    height: 94vh;
    width: 100vw;
    background-color: rgb(162, 226, 205);
    display: flex;
    justify-content: center;
    align-items: center;

}


.moveset-game-container{
    background-color: white;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.moveset-left-container, .moveset-guessed-pokemons, .moveset-container{
    width: 30vw;
    height: 50vh;
}

.moveset-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.moveset-item{
    margin: 4px;
    padding: 8px;
    border-radius: 10px;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
}

.shown-moveset{
    background-color: rgb(92, 130, 197);
}

.hidden-moveset{
    background-color: rgb(213, 113, 113);
}

.movements{
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    justify-content: center;
    align-items: center;
}

.movement{
    width: 10vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ability{
    width: 25vw;
}

.moveset-guessed-pokemons{
    background-color: rgb(195, 195, 195);
    color:white;
    border-radius: 10px;
    border: solid 2px rgb(21, 21, 21);
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto
}


.guessed-pokemon{
    display: flex;
    justify-content: center;
    width: 10vw;
}

.guessed-title{
    color:rgb(30, 29, 29);
    font-weight: bold;
    border-bottom: solid black 2px;
    width: 23vw;
    height: 5vh;
    position: fixed;
    background-color: rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guessed-pokemon-list{
    margin-top: 5.5vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4px;
}

.moveset-left-container{
    
    display: flex;
    flex-direction: column;
}

.search-container{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.moveset-guess-button{
    border-radius: 6px;
    width: 11vw;
    background-color: rgb(168, 200, 196);
}

.moveset-guess-button:hover, .restart-button:hover{
    cursor: pointer;
}

.restart-button{
    width: 8vw;
    height: 6vh;
    padding: 4px;
    border-radius: 15px;
}

.restart-button-container{
    margin-top: 8px;
}

.generation-selector-button{
    position: fixed;
    bottom: 2vh;
    right: 2vh;
}