.poke-gym-container{
    background-color: rgb(26, 154, 180);
    margin-top: 6vh;
    height: 94vh;
}

.poke-gym-game{
    background-color: rgb(26, 154, 180);
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.selected-poke-card{
    background-color: rgb(147, 206, 147);
}

.poke-card, .selected-poke-card{
    min-width: 30vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    border: 2px black solid;
    border-radius: 20px;
}

.poke-card{
    background-color: rgb(222, 225, 228);
}

.locked-in{
    background-color: rgb(119, 227, 119);
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: 400;
    border: solid rgba(255, 255, 255, 0.662) 2px;
    box-shadow: 0px 0px 5px black;
}

.locked-in:hover, .poke-card:hover, .selected-poke-card:hover{
    cursor: pointer;
}

.poke-card:hover{
    background-color: rgb(210, 226, 181);
}

.gym-game-button{
    margin: 24px 0px;
    padding: 16px;
    min-width: 8vw;
    font-weight: bold;
    transition: all ease-in-out 150ms;
    border-radius: 10px;
    background-color: rgb(255, 254, 244);
}

.gym-game-button:disabled{
    background-color: rgb(209, 209, 209);
    font-weight: 100;
}

.gym-game-button:disabled:hover{
    cursor: default;
}

.gym-game-button:not(:disabled) {
    background-color: rgb(255, 254, 244);
    font-weight: bold;
}

.gym-game-button:not(:disabled):hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}

.gym-game-button-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 32px;
}

.generation-selector-container{
    position:fixed;
    right: 2vw;
    bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generation-selector{
    padding: 8px 16px;
    border-radius: 10px;
    transition: all ease-in-out 150ms;
}

.generation-selector:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}

.generation-selector-button{
    padding: 8px 16px;
    border-radius: 10px;
}

.generation-panel{
    width: 10vw;
    padding: 8px;
    border-radius: 10px;
}

.generation-container{
    padding: 16px;
    width: 42vw;
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    background-color: white;
    border-radius: 30px;
    border: solid 2px rgb(89, 89, 89);
}

.generation-selector-panel{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    justify-content: center;
}

.generation-selector-panel-button{
    margin-top: 32px;
    padding: 8px 32px;
    border-radius: 7px;
    transition: all ease-in 150ms;
}


.generation-selector-panel-button:hover{
    cursor:pointer;
    box-shadow: 0px 0px 8px rgba(46, 46, 46, 0.705);

}

.generation-panel:hover,
.generation-selector-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.705);
}

.enabled-panel{
    background-color: rgb(116, 255, 82);
}

.enabled-panel:hover{
    background-color: rgb(168, 255, 146);

}

.disabled-panel{
    background-color: rgb(255, 82, 82);
}

.disabled-panel:hover{
    background-color: rgb(255, 146, 146);

}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}