:root {
    --normal-color: #A8A77A;
    --fire-color: #EE8130;
    --water-color: #6390F0;
    --electric-color: #F7D02C;
    --grass-color: #7AC74C;
    --ice-color: #96D9D6;
    --fighting-color: #C22E28;
    --poison-color: #A33EA1;
    --ground-color: #E2BF65;
    --flying-color: #A98FF3;
    --psychic-color: #F95587;
    --bug-color: #A6B91A;
    --rock-color: #B6A136;
    --ghost-color: #735797;
    --dragon-color: #6F35FC;
    --dark-color: #705746;
    --steel-color: #B7B7CE;
    --fairy-color: #D685AD;
}

.normal{
    background-color: var(--normal-color);
}

.fire{
    background-color: var(--fire-color);
}

.water{
    background-color: var(--water-color);
}

.electric {
    background-color: var(--electric-color);
}

.grass{
    background-color: var(--grass-color);
}

.ice{
    background-color: var(--ice-color);
}

.fighting{
    background-color: var(--fighting-color);
}

.poison{
    background-color: var(--poison-color);
}

.ground{
    background-color: var(--ground-color);
}

.flying{
    background-color: var(--flying-color);
}

.psychic{
    background-color: var(--psychic-color);
}

.bug{
    background-color: var(--bug-color);
}

.rock{
    background-color: var(--rock-color);
}

.ghost{
    background-color: var(--ghost-color);
}

.dragon{
    background-color: var(--dragon-color);
}

.dark{
    background-color: var(--dark-color);
}

.steel{
    background-color: var(--steel-color);
}

.fairy{
    background-color: var(--fairy-color);
}

.button{
    width: 5vw;
    height: 5vh;
}

.types{
    width: 5vw;
    height: 5vh;
}

.types span::first-letter, .button span::first-letter{
    text-transform: capitalize;
}

.button, .types{
    padding: 4px 12px;
    color:white;
    font-weight: 600;
    border-radius: 10px;
    border-color: white;
    font-size: 0.85vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button::first-letter, .types::first-letter{
    text-transform: capitalize;
}


.button:hover{
    transform: scale(1.25);
    cursor: pointer;
}

.main-container{
    background-color: #622903;
    min-height: 94vh;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 25vh;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(236, 236, 236, 0.527);
    padding: 20px;
    border-radius: 10px;
}


.button-container:hover{
    background-color: rgba(236, 236, 236, 0.719);
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.types-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.empty{
    display: none;
}

.main-type-container{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.main-type-container *:hover {
    cursor: default;
}

.selected-container{
    background-color: rgba(255, 255, 255, 0.815);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28vw;
    height: 10vh;
}


.selections{
    display: flex;
    justify-content: space-evenly;
    width: 12vw;
}

.selected-container h2{
    font-size: 1.5vw;
}

.effective-container, .neutral-container, .uneffective-container, .immune-container{
    background-color: rgba(233, 231, 231, 0.712);
    height: 40vh;
    width: 23.5vw;
    border-radius: 10px;
    padding: 8px;
}

h2{
    margin: 8px;
}


.selected-type:hover{
    background-color: #c40c0c;
    cursor:not-allowed;
}

.main-title{
    background-color: rgba(190, 190, 190, 0.622);
    border-radius: 15px;
    color:white;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
}

.selector-container{
    display: flex;
    align-items: center;
    gap: 50px;
}

.pokedex-container{
    width: 45vw;
    height: 30vh;
    padding: 20px 10px;
    border-radius: 10px;
}

.empty-pokedex{
    background-color: rgba(255, 255, 255, 0.699);
}

.pokedex-info{
    display: flex;
    justify-content: space-between;
}

.search-button{
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 10px;
    width: 6vw;
    border: solid 2px rgba(164, 164, 164, 0.674);
    background-color: rgb(51, 44, 44);
    color:white;
    font-weight: 600;
}

.search-input{
    border-radius: 10px;
    padding-left: 8px;
    width: 12vw;
}

.search-button:hover{
    cursor:pointer;
    background-color: rgb(120, 109, 109);
}

.pokedex-image{
    position: relative;
    top: -1vh;
    height: 8vh;
    animation: pokedexMovement 4s infinite linear;
}

.pokemon-preview{
    align-items: center;
    justify-content: space-evenly;
}

.pokemon-image{
    height: 16vh;
}


.pokemon-name{
    font-size: 30px;
    color:rgb(22, 22, 22);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: solid 2px rgb(50, 50, 50);
    min-width: 10vw;
    padding: 4px 8px;
    text-transform: capitalize;
}

.pokemon-info-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-types{
    display: flex;
    gap:4px;
    filter:brightness(130%);
}

.pokemon-types p{
    border: rgb(0, 0, 0) solid 2px;
    color: rgb(0, 0, 0);
}

.pokemon-types:hover{
    cursor: default;
}

.visible{
    display: flex;
}

.invisible{
    display: none;
}

@keyframes pokedexMovement{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


@media screen and (max-width: 768px) {

    .main-container{
        margin-top: 10vh;
    }

    .main-title{
        font-size: 20px;
        padding: 8px 16px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.766);
    }

    .selector-container{
        flex-direction: column-reverse;
        gap: 16px;
    }

    .button-container{
        width: 100vw;
        height: 40vh;
        background-color: rgba(255, 255, 255, 0.878);
    }

    .pokedex-container{
        width: 100vw;
    }

    .search-button{
        width: 22vw;
    }

    .pokedex-image{
        animation: none;
    }

    .react-autosuggest__container, .react-autosuggest__suggestions-list{
        width: 40vw !important;
    }

    .react-autosuggest__input{
        text-align: center;
    }

    .pokemon-info-display{
        margin: 0px 4px;
    }

    .pokemon-preview{
        flex-direction: column;
    }

    .selected-container{
        width: 100vw;
    }

    .button{
        width: 25vw;
    }

    .button, .types{
        font-size:unset;
    }

    .main-type-container{
        flex-direction: column;
    }

    .effective-container, .neutral-container, .uneffective-container, .immune-container{
        width: 100vw;
        padding: 4px;
        min-height: 20vh;
    }

    .effective-container, .neutral-container, .uneffective-container, .immune-container:hover{
        transform: none;
        box-shadow: none;
        background-color: rgba(233, 231, 231, 0.712);
    }

    .types-container{
        width: auto;
    }

}