
/* 
.home-panel {
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.home-title {
    font-size: 40px;
    margin: 16px;
    color: #333;
}

.home-button:not(:disabled):hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 12px #000;
}

/* .no-underline {
    text-decoration: none;
} */

.home-button-text {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-shadow: -2px -2px #000;
}

.home-button-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}
 
.gym-button {
    background: url(../../assets/gym.png);
}

.calculator-button {
    background: url(../../assets/calculator.png);
}

.pokedle-button {
    background: url(../../assets/pokedle.png);
}

.moveset-button{
    background: url(../../assets/moveset_background.jpg);
}

.portal-pokemon-button {
    background: url(../../assets/coming_soon.webp);
}

.home-button {
    padding: 8px 16px;
    width: 25vw;
    height: 35vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all ease 150ms;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 25px #000;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .home-panel{
        min-height: 85vh;
        height: 120vh;
        padding-top: 3vh;
        margin-bottom: 0;
    }

    .home-title{
        font-size: 20px;
    }

    .home-button-container{
        padding-bottom: 8px;
    }

    .home-button{
        width: 100vw;
        border-radius: 0;
        border: rgb(62, 62, 62) solid 4px;
        border-left: none;
        border-right: none;
        height: 30vh;
    }
}
