.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    margin-top: 6vh;
}

.home-panel {
    background-color: #ECECEC;
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.home-title {
    font-size: 40px;
    margin: 16px;
    color: #333;
}

.home-button:not(:disabled):hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 12px #000;
}

.no-underline {
    text-decoration: none;
}

.home-button-text {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-shadow: -2px -2px #000;
}

.home-button-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

.gym-button {
    background: url(../../assets/gym.png);
}

.calculator-button {
    background: url(../../assets/calculator.png);
}

.pokedle-button {
    background: url(../../assets/pokedle.png);
}

.coming-soon-button {
    background: url(../../assets/coming_soon.webp);
}

.home-button {
    padding: 8px 16px;
    width: 25vw;
    height: 35vh;
    display: flex;
    justify-content: end;
    align-items: end;
    transition: all ease 150ms;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 25px #000;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}

