.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100vw;
    height: 6vh;
    background-color: rgb(45, 45, 45);
    border-bottom: solid 2px rgba(112, 112, 112, 0.858);
    z-index: 10;
    
}

.navbar-button{
    padding: 4px 20px;
    margin: 4px;
    min-width: 10vw;
    border-radius: 7px;
    background-color: rgb(255, 76, 76);
    font-weight: bold;
}

.navbar-button:hover{
    cursor: pointer;
    background-color: rgb(98, 164, 255);
}