.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    min-height: 6vh;
    max-height: 6vh;
    background-color: #333;
    border-bottom: solid 2px rgba(112, 112, 112, 0.858);
    z-index: 10;
}

.navbar-button{
    padding: 4px 20px;
    min-width: 11vw;
    max-height: 6vh;
    border-radius: 7px;
    background-color: #FF5733;
    font-weight: bold;
    font-size: 12px;
}

.navbar-button:not(:disabled):hover {
    cursor: pointer;
    background-color: #40A3DB;
}

@media screen and (max-width: 768px) {
    .navbar{
        max-height: 15vh;
        flex-wrap: wrap;
        gap: 2vw;
    }
    .navbar-button{
        padding: 6px;
        margin-bottom: 2px;
        font-size: 10px;
    }
}