.team-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0.600);
    justify-content: space-evenly;
    opacity: 30%;
    width: 35vw;
    height: 16vh;
    border: black solid 2px;
    border-radius: 30px;
    transition: all ease-in-out 200ms;
}

.team-container:hover{
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.300);
}

.team-pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.pokemon-team-image{
    max-width: 5vw;
    max-height: 15vh;
}

.dead-pokemon{
    filter:grayscale(100);
}



@media screen and (max-width: 768px) {

    .team-container{
        width: 100vw;
        border-radius: 0;
        opacity: 100%;
    }

    .team-container:hover{
        background-color: rgba(255, 255, 255, 0.600);
    }

    .pokemon-team-image{
        max-width: 15vw;
    }
}